<div>

    <form fxLayout="row wrap" fxLayoutAlign="center center">

        <mat-form-field appearance="outline" fxFlex="80">
            <input matInput placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="80">
            <input matInput placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="80">
            <input matInput placeholder="Placeholder">
        </mat-form-field>

        <button mat-raised-button color="primary" fxFlex="40">SUBMIT</button>

    </form>

</div>